@model IEnumerable<AcmeCursos.Models.Inscricao>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Curso.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.DataInscricao)</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Curso.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.DataInscricao)</td>
            </tr>
        }
    </table>