@model IEnumerable<AcmeCursos.Models.Professor>
<h3>Professores sLecionados</h3>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Nome)</th>
        <th>@Html.DisplayNameFor(model => model.Sobrenome)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Sobrenome)</td>
        </tr>
    }
</table>

